@charset "UTF-8";

@media screen and (min-width:768px) {
    #burguer{
        display:none
    }
    nav {
        display: block;
        text-align: center;
    }
    
    nav li{
        display: inline-block;
        border: 1px solid ;
        border-radius: 3px;
        margin: 0px 2px 2px 0px;
    }

    main{
        width: 600px;
        height: 450px;
    }
    iframe{
        width: 445px;
        height: 370px;
    }
    
    
}

@media  screen and (min-width:992px){

}